#title{
    top: -10px;
}
#titleLogo{
    top: 20px;
}
header{
    position: relative;
}

.layout{
    width: 960px;
    height: 800px;
    margin: 0 auto;
}

.card.mb-4{
    height: 700px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.mb-4{
    margin-top: 30px;
}

.formTitle{
    margin-left: 15px;
    font-size: 35px;
    font-weight: bolder;
}


#board_title{
    height: 50px;
}
#content{
    height: 300px;
}